name: e2e

on:
  push:
    branches:
      - main
  workflow_dispatch: {}
  schedule:
    - cron: 0 0 * * 1 # every Monday at 00:00

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  kind-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3
        with:
          path: e2e
      - name: Checkout ocm-controller
        uses: actions/checkout@v3
        with:
          repository: 'open-component-model/ocm-controller'
          path: ocm-controller
#      - name: Checkout replication-controller
#        uses: actions/checkout@v3
#        with:
#          repository: 'open-component-model/replication-controller'
#          path: replication-controller
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: '${{ github.workspace }}/e2e/go.mod'
      - name: Restore Go cache
        uses: actions/cache@v3
        with:
          path: /home/runner/work/_temp/_github_home/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Run tests
        run: cd e2e && make test
